<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.shop_b.mapper.CompanyMapper">

	<!-- 쇼핑몰 업체 아이디 중복 확인 -->
	<!-- 사용 가능한 아이디면 null -->
	<!-- 사용 불가능하다면 해당 id 리턴 -->

	<select id = "selectTotalId"
			parameterType = "java.lang.String"
			resultType = "java.lang.String">
			
		SELECT
			id
		FROM total_id
		WHERE id = #{companyId}
	
	</select>



	<!-- 쇼핑몰 업체 로그인 -->
	<select id = "loginCompany"
			parameterType = "goodee.gdj58.shop_b.vo.Company"
			resultType = "goodee.gdj58.shop_b.vo.Company">
	
		SELECT
			company_id companyId
			, company_pw companyPw
			, company_registration_number companyRegistrationNumber
			, company_name companyName
			, company_ceo companyCeo
			, company_phone companyPhone
			, company_email companyEmail
			, company_address companyAddress
			, company_bank companyBank
			, company_account companyAccount
			, company_email_marketing companyEmailMarketing
			, type_content typeContent
			, updatedate
			, createdate
		FROM shopping_company
		WHERE company_id = #{companyId}
			AND company_pw = PASSWORD(#{companyPw})
			
	</select>	


	<!-- 쇼핑몰 업체 리스트 -->
	<select id = "selectCompany"
			resultType = "goodee.gdj58.shop_b.vo.Company">
		
		SELECT
			company_id companyId
			, company_pw companyPw
			, company_registration_number companyRegistrationNumber
			, company_name companyName
			, company_ceo companyCeo
			, company_phone companyPhone
			, company_email companyEmail
			, company_address companyAddress
			, company_bank companyBank
			, company_account companyAccount
			, company_email_marketing companyEmailMarketing
			, type_content typeContent
			, updatedate
			, createdate
		FROM shopping_company
		ORDER BY createdate DESC
	
	</select>

	<!-- 쇼핑몰 업체 추가 -->
	<insert id = "insertCompany"
			parameterType = "goodee.gdj58.shop_b.vo.Company">
			
		INSERT INTO shopping_company (
			company_id
			, company_pw
			, company_registration_number
			, company_name
			, company_ceo
			, company_phone
			, company_email
			, company_address
			, company_bank
			, company_account
			, company_email_marketing
			, type_content
		) VALUES (
			#{companyId}
			, PASSWORD(#{companyPw})
			, #{companyRegistrationNumber}
			, #{companyName}
			, #{companyCeo}
			, #{companyPhone}
			, #{companyEmail}
			, #{companyAddress}
			, #{companyBank}
			, #{companyAccount}
			, #{companyEmailMarketing}
			, #{typeContent}
		)
	
	</insert>






</mapper>