<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.shop_b.mapper.OrderSheetMapper">

	<!-- 주문서 목록 -->
	<select id = "selectOrderSheetList"
			parameterType = "java.lang.String"
			resultType = "java.util.HashMap">
	
		SELECT
			s.order_sheet_no orderSheetNo
			, s.customer_id customerId
			, ca.customer_address customerAddress
			, s.order_sheet_state orderSheetState
			, s.order_sheet_waybill orderSheetWaybill
			, s.order_sheet_price orderSheetPrice
			, s.createdate createdate
		FROM shopping_order_sheet s
		INNER JOIN shopping_customer_address ca
			ON s.customer_address_no = ca.customer_address_no
		WHERE s.company_id = #{companyId}		
			
	</select>


</mapper>