<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.shop_b.mapper.TestMapper">

	<select id = "selectTest" 
			resultType="goodee.gdj58.shop_b.vo.Test"
			parameterType = "int">
			
		
		SELECT site_hits_no siteHitsNo 
			, site_hits siteHits
			, createdate
		FROM shopping_site_hits
		WHERE site_hits_no = #{no}
			
			
	
	
	</select>



</mapper>