<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.shop_b.mapper.TypeMapper">
	
	<!-- 업종 카테고리 리스트(회원 가입 페이지) -->
	<select id = "selectTypeListForAddCompany"
			resultType = "goodee.gdj58.shop_b.vo.Type">
		
		SELECT
			type_no typeNo
			, type_content typeContent
		FROM shopping_type
		WHERE parent_no = 0
			
	</select>	
	
	
	<select id="selectTypeList" resultType="goodee.gdj58.shop_b.vo.Type" parameterType="Integer">
		WITH RECURSIVE cts AS (
		    SELECT 
			 	type_no
		    	, type_content
		    	, parent_no
		    	, group_no
		    	, sequence
		    	, depth
		    	, createdate
		    	, cast(type_no as CHAR(100)) lvl
		    FROM shopping_type 
		    WHERE parent_no = 0
		    	UNION ALL
		    SELECT
			 	st2.type_no
		    	, st2.type_content
		    	, st2.parent_no
		    	, st2.group_no
		    	, st2.sequence
		    	, st2.depth
		    	, st2.createdate
		    	, CONCAT(c.lvl, ',', st2.type_no) lvl
		    FROM shopping_type st2
		    INNER JOIN cts c
		    ON st2.parent_no = c.type_no
		)
		SELECT 
			type_no typeNo
			, type_content typeContent
			, parent_no parentNo
			, group_no groupNo
			, sequence
			, depth 
			, createdate
		FROM cts
		WHERE parent_no = #{1}
		ORDER BY groupNo, lvl
	</select>
</mapper>